<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="TANVIR 6X  WEBSITE">
    <meta name="author" content="TANVIR">
    <meta property="og:image" content="https://i.ibb.co/RY4LbWV/alexdpbytanvir.jpg">
    <title>TANVIR AHMED OFFICIALðŸ‡§ðŸ‡©</title>
    <script src="https://kit.fontawesome.com/5367cb78eb.js" crossorigin="anonymous"></script>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/default.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body id="page-top" class="dark-mode">
    <div id="wrapper">
   
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/docs">
                <img src="images/icon.png" class="rounded-circle shadow-4"style="width: 50px;" alt="TANVIR-DP" />
                <div class="sidebar-brand-text mx-3">TANVIR 6XðŸ˜˜</div>
            </a>
            
            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                your profile
            </div>
            <li class="nav-item active">
                <a class="nav-link" >
                    <span>Username: <%= username %><br></span>
                                        <% if(!verified){ %>
                                            <span class="h5 mb-0 font-weight-bold">Not Verified âŒ<br></span>

                                            <% }else{ %>
                                                <span class="h5 mb-0 font-weight-bold">Verifiedâœ”ï¸<br></span>
                                            <% } %>

                </a>

            <div class="sidebar-heading">
              Features ðŸ‘‡
            </div>
            <br>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="fa fa-fw fa-arrow-down"></i>
                    <span>DOWNLOADER</span>
                </a>
                <div id="collapseDownload" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">DOWNLOADER SERVICE BY 6X</h6>
<a class="collapse-item" href="api/dowloader/yt?url=https://youtu.be/s3D7qhqTCiY&apikey=<%= apikey %>" target="_blank">Youtube Mp4 Mp3</a>
<a class="collapse-item" href="api/dowloader/igdowloader?url=https://instagram.com/stories/t4nv1r.br4nd.y0ur.n3x7.d4d/3086802307770540062&apikey=<%= apikey %>" target="_blank">Instagram Story</a>
<a class="collapse-item" href="api/dowloader/igdowloader?url=https://www.instagram.com/reel/CrWhJmABKr_/&apikey=<%= apikey %>" target="_blank">Instagram Reel</a>
<a class="collapse-item" href="api/dowloader/tikok?url=https://www.tiktok.com/@ffnoobgaming100k/video/ZS8cjW1hH&apikey=<%= apikey %>" target="_blank">Tiktok Mp4 Mp3</a>
<a class="collapse-item" href="api/dowloader/fbdown?url=https://www.facebook.com/magazine.bongo/videos/515350604011077&apikey=<%= apikey %>" target="_blank">Facebook</a>

                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTextPro" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-solid fa-text-slash"></i>
                    <span>TEXT-PRO</span>
                </a>
                <div id="collapseTextPro" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">TEXT PRO SERVICE BY 6X</h6>
                      <a class="collapse-item" href="api/ephoto/6xgrafartv2?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT TX</a>
                        <a class="collapse-item" href="api/textpro/6xgrafart?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT</a>
<a class="collapse-item" href="api/textpro/6xgrafart2?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 2</a>
<a class="collapse-item" href="api/textpro/6xgrafart3?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 3</a>
<a class="collapse-item" href="api/textpro/6xgrafart4?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 4</a>
<a class="collapse-item" href="api/textpro/6xgrafart5?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 5</a>
<a class="collapse-item" href="api/textpro/6xgrafart6?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 6</a>
<a class="collapse-item" href="api/textpro/6xgrafart7?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 7</a>
<a class="collapse-item" href="api/textpro/6xgrafart8?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 8</a>
<a class="collapse-item" href="api/textpro/6xgrafart9?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 9</a>
<a class="collapse-item" href="api/textpro/6xgrafart10?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 10</a>
<a class="collapse-item" href="api/textpro/6xgrafart11?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 11</a>
<a class="collapse-item" href="api/textpro/6xgrafart12?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 12</a>
<a class="collapse-item" href="api/textpro/6xgrafart13?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 13</a>
<a class="collapse-item" href="api/textpro/6xgrafart14?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 14</a>
<a class="collapse-item" href="api/textpro/6xgrafart15?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 15</a>
<a class="collapse-item" href="api/textpro/6xgrafart16?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 16</a>
<a class="collapse-item" href="api/textpro/6xgrafart17?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 17</a>
<a class="collapse-item" href="api/textpro/6xgrafart18?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 18</a>
<a class="collapse-item" href="api/textpro/6xgrafart19?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 19</a>
<a class="collapse-item" href="api/textpro/6xgrafart20?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 20</a>
<a class="collapse-item" href="api/textpro/6xgrafart21?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 21</a>
<a class="collapse-item" href="api/textpro/6xgrafart22?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 22</a>
<a class="collapse-item" href="api/textpro/6xgrafart23?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 23</a>
<a class="collapse-item" href="api/textpro/6xgrafart24?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 24</a>
<a class="collapse-item" href="api/textpro/6xgrafart25?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 25</a>
<a class="collapse-item" href="api/textpro/6xgrafart26?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 26</a>
<a class="collapse-item" href="api/textpro/6xgrafart27?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 27</a>
<a class="collapse-item" href="api/textpro/6xgrafart28?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 28</a>
<a class="collapse-item" href="api/textpro/6xgrafart29?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 29</a>
<a class="collapse-item" href="api/textpro/6xgrafart30?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 30</a>
<a class="collapse-item" href="api/textpro/6xgrafart31?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 31</a>
<a class="collapse-item" href="api/textpro/6xgrafart32?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 32</a>
<a class="collapse-item" href="api/textpro/6xgrafart33?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 33</a>
<a class="collapse-item" href="api/textpro/6xgrafart34?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 34</a>
<a class="collapse-item" href="api/textpro/6xgrafart35?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 35</a>
<a class="collapse-item" href="api/textpro/6xgrafart36?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 36</a>
<a class="collapse-item" href="api/textpro/6xgrafart37?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 37</a>
<a class="collapse-item" href="api/textpro/6xgrafart38?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 38</a>
<a class="collapse-item" href="api/textpro/6xgrafart39?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 39</a>
<a class="collapse-item" href="api/textpro/6xgrafart40?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 40</a>
<a class="collapse-item" href="api/textpro/6xgrafart41?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 41</a>
<a class="collapse-item" href="api/textpro/6xgrafart42?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 42</a>
<a class="collapse-item" href="api/textpro/6xgrafart43?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 43</a>
<a class="collapse-item" href="api/textpro/6xgrafart44?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 44</a>
<a class="collapse-item" href="api/textpro/6xgrafart45?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 45</a>
<a class="collapse-item" href="api/textpro/6xgrafart46?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 46</a>
<a class="collapse-item" href="api/textpro/6xgrafart47?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 47</a>
<a class="collapse-item" href="api/textpro/6xgrafart48?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 48</a>
<a class="collapse-item" href="api/textpro/6xgrafart49?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 49</a>
<a class="collapse-item" href="api/textpro/6xgrafart50?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 50</a>
<a class="collapse-item" href="api/textpro/6xgrafart51?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 51</a>
<a class="collapse-item" href="api/textpro/6xgrafart52?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 52</a>
<a class="collapse-item" href="api/textpro/6xgrafart53?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 53</a>
<a class="collapse-item" href="api/textpro/6xgrafart54?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 54</a>
<a class="collapse-item" href="api/textpro/6xgrafart55?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 55</a>
<a class="collapse-item" href="api/textpro/6xgrafart56?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 56</a>
<a class="collapse-item" href="api/textpro/6xgrafart57?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 57</a>
<a class="collapse-item" href="api/textpro/6xgrafart58?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 58</a>
<a class="collapse-item" href="api/textpro/6xgrafart59?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 59</a>
<a class="collapse-item" href="api/textpro/6xgrafart60?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 60</a>
<a class="collapse-item" href="api/textpro/6xgrafart61?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 61</a>
<a class="collapse-item" href="api/textpro/6xgrafart62?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 62</a>
<a class="collapse-item" href="api/textpro/6xgrafart63?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 63</a>
<a class="collapse-item" href="api/textpro/6xgrafart64?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 64</a>
<a class="collapse-item" href="api/textpro/6xgrafart65?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 65</a>
<a class="collapse-item" href="api/textpro/6xgrafart66?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 66</a>
<a class="collapse-item" href="api/textpro/6xgrafart67?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 67</a>
<a class="collapse-item" href="api/textpro/6xgrafart68?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 68</a>
<a class="collapse-item" href="api/textpro/6xgrafart69?text=TANVIR 6X&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 69</a>
<a class="collapse-item" href="api/textpro/6xgrafart70?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 70</a>
<a class="collapse-item" href="api/textpro/6xgrafart71?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 71</a>
<a class="collapse-item" href="api/textpro/6xgrafart72?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 72</a>
<a class="collapse-item" href="api/textpro/6xgrafart73?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 73</a>
<a class="collapse-item" href="api/textpro/6xgrafart74?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 74</a>
<a class="collapse-item" href="api/textpro/6xgrafart75?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 75</a>
<a class="collapse-item" href="api/textpro/6xgrafart76?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 76</a>
<a class="collapse-item" href="api/textpro/6xgrafart77?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 77</a>
<a class="collapse-item" href="api/textpro/6xgrafart78?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 78</a>
<a class="collapse-item" href="api/textpro/6xgrafart79?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 79</a>
<a class="collapse-item" href="api/textpro/6xgrafart80?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 80</a>
<a class="collapse-item" href="api/textpro/6xgrafart81?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 81</a>
<a class="collapse-item" href="api/textpro/6xgrafart82?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 82</a>
<a class="collapse-item" href="api/textpro/6xgrafart83?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 83</a>
<a class="collapse-item" href="api/textpro/6xgrafart84?text=2023&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 84</a>
<a class="collapse-item" href="api/textpro/6xgrafart85?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 85</a>
<a class="collapse-item" href="api/textpro/6xgrafart86?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 86</a>
<a class="collapse-item" href="api/textpro/6xgrafart87?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 87</a>
<a class="collapse-item" href="api/textpro/6xgrafart88?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 88</a>
<a class="collapse-item" href="api/textpro/6xgrafart89?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 89</a>
<a class="collapse-item" href="api/textpro/6xgrafart90?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 90</a>
<a class="collapse-item" href="api/textpro/6xgrafart91?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 91</a>
<a class="collapse-item" href="api/textpro/6xgrafart92?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 92</a>
<a class="collapse-item" href="api/textpro/6xgrafart93?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 93</a>
<a class="collapse-item" href="api/textpro/6xgrafart94?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 94</a>
<a class="collapse-item" href="api/textpro/6xgrafart95?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 95</a>
<a class="collapse-item" href="api/textpro/6xgrafart96?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 96</a>
<a class="collapse-item" href="api/textpro/6xgrafart97?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 97</a>
<a class="collapse-item" href="api/textpro/6xgrafart98?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 98</a>
<a class="collapse-item" href="api/textpro/6xgrafart99?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 99</a>
<a class="collapse-item" href="api/textpro/6xgrafart100?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 100</a>
<a class="collapse-item" href="api/textpro/6xgrafart101?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 101</a>
<a class="collapse-item" href="api/textpro/6xgrafart102?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 102</a>
<a class="collapse-item" href="api/textpro/6xgrafart103?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 103</a>
<a class="collapse-item" href="api/textpro/6xgrafart104?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 104</a>
<a class="collapse-item" href="api/textpro/6xgrafart105?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 105</a>
<a class="collapse-item" href="api/textpro/6xgrafart106?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 106</a>
<a class="collapse-item" href="api/textpro/6xgrafart107?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 107</a>
<a class="collapse-item" href="api/textpro/6xgrafart108?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 108</a>
<a class="collapse-item" href="api/textpro/6xgrafart109?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 109</a>
<a class="collapse-item" href="api/textpro/6xgrafart110?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 110</a>
<a class="collapse-item" href="api/textpro/6xgrafart111?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 111</a>
<a class="collapse-item" href="api/textpro/6xgrafart112?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 112</a>
<a class="collapse-item" href="api/textpro/6xgrafart113?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 113</a>
<a class="collapse-item" href="api/textpro/6xgrafart114?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 114</a>
<a class="collapse-item" href="api/textpro/6xgrafart115?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 115</a>
<a class="collapse-item" href="api/textpro/6xgrafart116?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 116</a>
<a class="collapse-item" href="api/textpro/6xgrafart117?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 117</a>
<a class="collapse-item" href="api/textpro/6xgrafart118?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 118</a>
<a class="collapse-item" href="api/textpro/6xgrafart119?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 119</a>
<a class="collapse-item" href="api/textpro/6xgrafart120?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 120</a>
<a class="collapse-item" href="api/textpro/6xgrafart121?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 121</a>
<a class="collapse-item" href="api/textpro/6xgrafart122?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 122</a>
<a class="collapse-item" href="api/textpro/6xgrafart123?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 123</a>
<a class="collapse-item" href="api/textpro/6xgrafart124?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 124</a>
<a class="collapse-item" href="api/textpro/6xgrafart125?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 125</a>
<a class="collapse-item" href="api/textpro/6xgrafart126?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 126</a>
<a class="collapse-item" href="api/textpro/6xgrafart127?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 127</a>
<a class="collapse-item" href="api/textpro/6xgrafart128?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 128</a>
<a class="collapse-item" href="api/textpro/6xgrafart129?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 129</a>
<a class="collapse-item" href="api/textpro/6xgrafart130?text=TANVIR&text2=6X&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 130</a>
<a class="collapse-item" href="api/textpro/6xgrafart131?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 13</a>
<a class="collapse-item" href="api/textpro/6xgrafart132?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 132</a>
<a class="collapse-item" href="api/textpro/6xgrafart133?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 133</a>
<a class="collapse-item" href="api/textpro/6xgrafart134?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 134</a>
<a class="collapse-item" href="api/textpro/6xgrafart135?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 135</a>
<a class="collapse-item" href="api/textpro/6xgrafart136?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 136</a>
<a class="collapse-item" href="api/textpro/6xgrafart137?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 137</a>
<a class="collapse-item" href="api/textpro/6xgrafart138?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 138</a>
<a class="collapse-item" href="api/textpro/6xgrafart139?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 139</a>
<a class="collapse-item" href="api/textpro/6xgrafart140?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 140</a>
<a class="collapse-item" href="api/textpro/6xgrafart141?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 141</a>
<a class="collapse-item" href="api/textpro/6xgrafart142?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 142</a>
<a class="collapse-item" href="api/textpro/6xgrafart143?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 143</a>
<a class="collapse-item" href="api/textpro/6xgrafart144?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 144</a>
<a class="collapse-item" href="api/textpro/6xgrafart145?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 145</a>
<a class="collapse-item" href="api/textpro/6xgrafart146?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 146</a>
<a class="collapse-item" href="api/textpro/6xgrafart147?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 147</a>
<a class="collapse-item" href="api/textpro/6xgrafart148?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 148</a>
<a class="collapse-item" href="api/textpro/6xgrafart149?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 149</a>
<a class="collapse-item" href="api/textpro/6xgrafart150?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 150</a>
<a class="collapse-item" href="api/textpro/6xgrafart151?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 151</a>
<a class="collapse-item" href="api/textpro/6xgrafart152?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 152</a>
<a class="collapse-item" href="api/textpro/6xgrafart153?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 153</a>
<a class="collapse-item" href="api/textpro/6xgrafart154?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 154</a>
<a class="collapse-item" href="api/textpro/6xgrafart155?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 155</a>
<a class="collapse-item" href="api/textpro/6xgrafart156?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 156</a>
<a class="collapse-item" href="api/textpro/6xgrafart157?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 157</a>
<a class="collapse-item" href="api/textpro/6xgrafart158?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 158</a>
<a class="collapse-item" href="api/textpro/6xgrafart159?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 159</a>
<a class="collapse-item" href="api/textpro/6xgrafart160?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 160</a>
<a class="collapse-item" href="api/textpro/6xgrafart161?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 161</a>
<a class="collapse-item" href="api/textpro/6xgrafart162?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 162</a>
<a class="collapse-item" href="api/textpro/6xgrafart163?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 163</a>
<a class="collapse-item" href="api/textpro/6xgrafart164?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 164</a>
<a class="collapse-item" href="api/textpro/6xgrafart165?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 165</a>
<a class="collapse-item" href="api/textpro/6xgrafart166?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 166</a>
<a class="collapse-item" href="api/textpro/6xgrafart167?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 167</a>
<a class="collapse-item" href="api/textpro/6xgrafart168?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 168</a>
<a class="collapse-item" href="api/textpro/6xgrafart169?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 169</a>
<a class="collapse-item" href="api/textpro/6xgrafart170?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 170</a>
<a class="collapse-item" href="api/textpro/6xgrafart171?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 171</a>
<a class="collapse-item" href="api/textpro/6xgrafart172?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 172</a>
<a class="collapse-item" href="api/textpro/6xgrafart173?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 173</a>
<a class="collapse-item" href="api/textpro/6xgrafart174?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 174</a>
<a class="collapse-item" href="api/textpro/6xgrafart175?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 175</a>
<a class="collapse-item" href="api/textpro/6xgrafart176?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 176</a>
<a class="collapse-item" href="api/textpro/6xgrafart177?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 177</a>
<a class="collapse-item" href="api/textpro/6xgrafart178?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 178</a>
<a class="collapse-item" href="api/textpro/6xgrafart179?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 179</a>
<a class="collapse-item" href="api/textpro/6xgrafart180?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 180</a>
<a class="collapse-item" href="api/textpro/6xgrafart181?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X GRAF EDIT 181</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePhotooxy" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-light fa-pen"></i>
                    <span>PHOTOOXY</span>
                </a>
                <div id="collapsePhotooxy" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">PHOTOOXY SERVICE BY 6X</h6>
                        <a class="collapse-item" href="api/photooxy/6xnameedit?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT</a>
<a class="collapse-item" href="api/photooxy/6xnameedit2?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 2</a>
<a class="collapse-item" href="api/photooxy/6xnameedit3?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 3</a>
<a class="collapse-item" href="api/photooxy/6xnameedit4?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 4</a>
<a class="collapse-item" href="api/photooxy/6xnameedit5?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 5</a>
<a class="collapse-item" href="api/photooxy/6xnameedit6?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 6</a>
<a class="collapse-item" href="api/photooxy/6xnameedit7?text=Tanvir&text2=official&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 7</a>
<a class="collapse-item" href="api/photooxy/6xnameedit8?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 8</a>
<a class="collapse-item" href="api/photooxy/6xnameedit9?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 9</a>
<a class="collapse-item" href="api/photooxy/6xnameedit10?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 10</a>
<a class="collapse-item" href="api/photooxy/6xnameedit11?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 11</a>
<a class="collapse-item" href="api/photooxy/6xnameedit12?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 12</a>
<a class="collapse-item" href="api/photooxy/6xnameedit13?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 13</a>
<a class="collapse-item" href="api/photooxy/6xnameedit14?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 14</a>
<a class="collapse-item" href="api/photooxy/6xnameedit15?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 15</a>
<a class="collapse-item" href="api/photooxy/6xnameedit16?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 16</a>
<a class="collapse-item" href="api/photooxy/6xnameedit17?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 17</a>
<a class="collapse-item" href="api/photooxy/6xnameedit18?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 18</a>
<a class="collapse-item" href="api/photooxy/6xnameedit19?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 19</a>
<a class="collapse-item" href="api/photooxy/6xnameedit20?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 20</a>
<a class="collapse-item" href="api/photooxy/6xnameedit21?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 21</a>
<a class="collapse-item" href="api/photooxy/6xnameedit22?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 22</a>
<a class="collapse-item" href="api/photooxy/6xnameedit23?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 23</a>
<a class="collapse-item" href="api/photooxy/6xnameedit24?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 24</a>
<a class="collapse-item" href="api/photooxy/6xnameedit25?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 25</a>
<a class="collapse-item" href="api/photooxy/6xnameedit26?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 26</a>
<a class="collapse-item" href="api/photooxy/6xnameedit27?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 27</a>
<a class="collapse-item" href="api/photooxy/6xnameedit28?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 28</a>
<a class="collapse-item" href="api/photooxy/6xnameedit29?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 29</a>
<a class="collapse-item" href="api/photooxy/6xnameedit30?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 30</a>
<a class="collapse-item" href="api/photooxy/6xnameedit31?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 31</a>
<a class="collapse-item" href="api/photooxy/6xnameedit32?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 32</a>
<a class="collapse-item" href="api/photooxy/6xnameedit33?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 33</a>
<a class="collapse-item" href="api/photooxy/6xnameedit34?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 34</a>
<a class="collapse-item" href="api/photooxy/6xnameedit35?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 35</a>
<a class="collapse-item" href="api/photooxy/6xnameedit36?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 36</a>
<a class="collapse-item" href="api/photooxy/6xnameedit37?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 37</a>
<a class="collapse-item" href="api/photooxy/6xnameedit38?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 38</a>
<a class="collapse-item" href="api/photooxy/6xnameedit39?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 39</a>
<a class="collapse-item" href="api/photooxy/6xnameedit40?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 40</a>
<a class="collapse-item" href="api/photooxy/6xnameedit41?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 41</a>
<a class="collapse-item" href="api/photooxy/6xnameedit42?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 42</a>
<a class="collapse-item" href="api/photooxy/6xnameedit43?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 43</a>
<a class="collapse-item" href="api/photooxy/6xnameedit44?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 44</a>
<a class="collapse-item" href="api/photooxy/6xnameedit45?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 45</a>
<a class="collapse-item" href="api/photooxy/6xnameedit46?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 46</a>
<a class="collapse-item" href="api/photooxy/6xnameedit47?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 47</a>
<a class="collapse-item" href="api/photooxy/6xnameedit48?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 48</a>
<a class="collapse-item" href="api/photooxy/6xnameedit49?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 49</a>
<a class="collapse-item" href="api/photooxy/6xnameedit50?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 50</a>
<a class="collapse-item" href="api/photooxy/6xnameedit51?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 51</a>
<a class="collapse-item" href="api/photooxy/6xnameedit52?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 52</a>
<a class="collapse-item" href="api/photooxy/6xnameedit53?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 53</a>
<a class="collapse-item" href="api/photooxy/6xnameedit54?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 54</a>
<a class="collapse-item" href="api/photooxy/6xnameedit55?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 55</a>
<a class="collapse-item" href="api/photooxy/6xnameedit56?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 56</a>
<a class="collapse-item" href="api/photooxy/6xnameedit57?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 57</a>
<a class="collapse-item" href="api/photooxy/6xnameedit58?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 58</a>
<a class="collapse-item" href="api/photooxy/6xnameedit59?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 59</a>
<a class="collapse-item" href="api/photooxy/6xnameedit60?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 60</a>
			    <a class="collapse-item" href="api/ephoto/nameedit13?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X NAME EDIT 61</a>
                    </div>
                </div>
            </li>
		<li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsetextpro" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-solid fa-text-slash"></i>
                    <span>SPECIALðŸ”¥</span>
                </a>
                <div id="collapsetextpro" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">SPECIAL GIFT SERVICE BY 6X</h6>
                        <a class="collapse-item" href="api/textpro/6xlogoedit?text=TANVIR 6X&apikey=<%= apikey %>" target="_blank">6X SPECIAL GIFT</a>
                        <a class="collapse-item" href="api/textpro/6xlogoedit2?text=TANVIR 6X&apikey=<%= apikey %>" target="_blank">6X SPECIAL GIFT 2</a>
                        <a class="collapse-item" href="api/textpro/6xlogoedit3?text=tanvir6x.xyz&text2=TANVIR 6X ROBOT&apikey=<%= apikey %>" target="_blank">6X SPECIAL GIFT 3</a>
                       <a class="collapse-item" href="api/textpro/6xlogoedit4?text=GAMING&text2=TANVIR 6X&apikey=<%= apikey %>" target="_blank">6X SPECIAL GIFT 4</a>
                       <a class="collapse-item" href="api/textpro/6xlogoedit5?text=TANVIR 6X&apikey=<%= apikey %>" target="_blank">6X SPECIAL GIFT 5</a>
                       <a class="collapse-item" href="api/textpro/6xlogoedit6?text=Tanvir&apikey=<%= apikey %>" target="_blank">6X SPECIAL GIFT 6</a>
                       <a class="collapse-item" href="api/textpro/6xlogoedit7?text=Tanvir&text2=6X&apikey=<%= apikey %>" target="_blank">6X SPECIAL GIFT 7</a>
                       <a class="collapse-item" href="api/textpro/6xlogoedit8?text=TANVIR 6X&apikey=<%= apikey %>" target="_blank">6X SPECIAL GIFT 8</a>
                       <a class="collapse-item" href="api/textpro/6xlogoedit9?text=TANVIR 6X&apikey=<%= apikey %>" target="_blank">6X SPECIAL GIFT 9</a>
                       <a class="collapse-item" href="api/textpro/6xlogoedit10?text=TANVIR 6X&apikey=<%= apikey %>" target="_blank">6X SPECIAL GIFT 10</a>
                       <a class="collapse-item" href="api/textpro/6xlogoedit11?text=TANVIR 6X&apikey=<%= apikey %>" target="_blank">6X SPECIAL GIFT 11</a>
                       <a class="collapse-item" href="api/textpro/6xlogoedit12?text=TANVIR 6X&apikey=<%= apikey %>" target="_blank">6X SPECIAL GIFT 12</a>
                       <a class="collapse-item" href="api/textpro/6xlogoedit13?text=TANVIR 6X&apikey=<%= apikey %>" target="_blank">6X SPECIAL GIFT 13</a>
                       <a class="collapse-item" href="api/textpro/6xlogoedit14?text=TANVIR 6X&apikey=<%= apikey %>" target="_blank">6X SPECIAL GIFT 14</a>
                       <a class="collapse-item" href="api/textpro/6xlogoedit15?text=TANVIR 6X&apikey=<%= apikey %>" target="_blank">6X SPECIAL GIFT 15</a>
                       <a class="collapse-item" href="api/textpro/6xlogoedit16?text=TANVIR 6X&apikey=<%= apikey %>" target="_blank">6X SPECIAL GIFT 16</a>
		     </div>
                    </div>
                </li>
            <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRandomText" aria-expanded="true" aria-controls="collapseTable">
                        <i class="fa fa-fw fa-music"></i>
                        <span>SOUND OF TEXT</span>
                    </a>
                    <div id="collapseRandomText" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                        <div class="py-2 collapse-inner rounded">
                            <h6 class="collapse-header">LANGUAGE</h6>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=id-ID&apikey=<%= apikey %>">Indonesian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=en-US&apikey=<%= apikey %>">English (United States)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=ja-JP&apikey=<%= apikey %>">Japanese (Japan)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=fr-FR&apikey=<%= apikey %>">French</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=fil-PH&apikey=<%= apikey %>">Filipino</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=my&apikey=<%= apikey %>">Burmese (Myanmar)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=de-DE&apikey=<%= apikey %>">German</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=it-IT&apikey=<%= apikey %>">	Italian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=jko-KR&apikey=<%= apikey %>">Korean</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=th-TH&apikey=<%= apikey %>">Thai</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=hi-IN&apikey=<%= apikey %>">Hindi</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=ru-RU&apikey=<%= apikey %>">Russian</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseserch" aria-expanded="true" aria-controls="collapseTable">
                        <i class="fa fa-fw fa-search"></i>
                        <span>SEARCH</span>
                    </a>
                    <div id="collapseserch" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                        <div class="py-2 collapse-inner rounded">
                            <h6 class="collapse-header">SEARCH SERVICE BY 6X</h6>
                            <a class="collapse-item" href="api/search/ytplay?text=lagu%dj&apikey=<%= apikey %>" target="_blank">Yt Play</a>
                            <a class="collapse-item" href="api/search/linkgroupwa?text=belajar&apikey=<%= apikey %>" target="_blank">Group WA</a>
                            <a class="collapse-item" href="api/search/pinterest?text=al-quran&apikey=<%= apikey %>" target="_blank">Pinterest</a>
                            <a class="collapse-item" href="api/search/ringtone?text=samsung&apikey=<%= apikey %>" target="_blank">Ringtone</a>
                            <a class="collapse-item" href="api/search/wikimedia?text=Malaysia&apikey=<%= apikey %>" target="_blank">Wikimedia</a>
                            <a class="collapse-item" href="api/search/google?text=Mobile%20Legends&apikey=<%= apikey %>" target="_blank">Google</a>
                            <a class="collapse-item" href="api/search/googleimage?text=Mobile%20Legends&apikey=<%= apikey %>" target="_blank">Google Image</a>
                            <a class="collapse-item" href="api/search/wallpaper?text=Mobile%20Legends&apikey=<%= apikey %>" target="_blank">Wallpaper</a>
                            <a class="collapse-item" href="api/search/sticker?text=fun&apikey=<%= apikey %>" target="_blank">Sticker</a>
                            <a class="collapse-item" href="api/search/sfilemobi?text=Tiktok%20Mod&apikey=<%= apikey %>" target="_blank">Sfilemobi</a>


                        </div>
                    </div>
                </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMaker" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-paint-brush"></i>
                    <span>IMAGE MAKER</span>
                </a>
                <div id="collapseMaker" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">IMAGE MAKING BY 6X</h6>
                        <a class="collapse-item" target="_blank" href="api/maker/circle?url=https://i.ibb.co/MGbj3Xk/fuck-you-bby.jpg&apikey=<%= apikey %>">CIRCLE</a>
                        <a class="collapse-item" target="_blank" href="api/maker/beautiful?url=https://i.ibb.co/MGbj3Xk/fuck-you-bby.jpg&apikey=<%= apikey %>">BEAUTIFUL</a>
                        <a class="collapse-item" target="_blank" href="api/maker/blur?url=https://i.ibb.co/MGbj3Xk/fuck-you-bby.jpg&apikey=<%= apikey %>">BLUR</a>
                        <a class="collapse-item" target="_blank" href="api/maker/darkness?url=https://i.ibb.co/MGbj3Xk/fuck-you-bby.jpg&no=50&apikey=<%= apikey %>">DARKNESS</a>
                        <a class="collapse-item" target="_blank" href="api/maker/facepalm?url=https://i.ibb.co/MGbj3Xk/fuck-you-bby.jpg&apikey=<%= apikey %>">FACEPALM</a>
                        <a class="collapse-item" target="_blank" href="api/maker/invert?url=https://i.ibb.co/MGbj3Xk/fuck-you-bby.jpg&apikey=<%= apikey %>">INVERT</a>
                        <a class="collapse-item" target="_blank" href="api/maker/pixelate?url=https://i.ibb.co/MGbj3Xk/fuck-you-bby.jpg&no=10&apikey=<%= apikey %>">PIXELATE</a>
                        <a class="collapse-item" target="_blank" href="api/maker/rainbow?url=https://i.ibb.co/MGbj3Xk/fuck-you-bby.jpg&apikey=<%= apikey %>">RAINBOW</a>
                        <a class="collapse-item" target="_blank" href="api/maker/resize?url=https://i.ibb.co/MGbj3Xk/fuck-you-bby.jpg&width=100&height=100&apikey=<%= apikey %>">RESIZE</a>
                        <a class="collapse-item" target="_blank" href="api/maker/trigger?url=https://i.ibb.co/MGbj3Xk/fuck-you-bby.jpg&apikey=<%= apikey %>">TRIGGER</a>
                        <a class="collapse-item" target="_blank" href="api/maker/wanted?url=https://i.ibb.co/MGbj3Xk/fuck-you-bby.jpg&apikey=<%= apikey %>">WANTED</a>
                        <h6 class="collapse-header">Maker Other</h6>
                        <a class="collapse-item" target="_blank" href="api/maker/attp?text=Tanvir&apikey=<%= apikey %>">6X-T2GIF</a>
                      <a class="collapse-item" target="_blank" href="api/maker/attpv2?text=Tanvir&apikey=<%= apikey %>">6X-T2GIF 2</a>
                        <a class="collapse-item" target="_blank" href="api/maker/ttp?text=Tanvir&apikey=<%= apikey %>">6X-TP</a>
                        <a class="collapse-item" target="_blank" href="api/maker/emojimix?emoji1=ðŸ™‚&emoji2=ðŸ™ƒ&apikey=<%= apikey %>">EMOJIMIX</a>
                        <a class="collapse-item" target="_blank" href="api/maker/welcome1?name=Tanvir&gpname=Si Tanvir 6X&member=1&pp=https://i.ibb.co/FshHdFv/Alex-Api-Emaildp-6x.png&bg=https://i.ibb.co/MGwVFCJ/Uffnofuck-yourmom.jpg&apikey=<%= apikey %>">WELCOME1</a>
                        <a class="collapse-item" target="_blank" href="api/maker/goodbye1?name=Tanvir&gpname=Si Tanvir 6X&member=1&pp=https://i.ibb.co/FshHdFv/Alex-Api-Emaildp-6x.png://telegra.ph/file/f492065d44c897cd3836e.png&bg=https://i.ibb.co/MGwVFCJ/Uffnofuck-yourmom.jpg&apikey=<%= apikey %>">GOODBYE1</a>
            </div>
                </div>
            </li>

            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapselink" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-link"></i>
                    <span>LINK SHORT</span>
                </a>     
                <div id="collapselink" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">LINK SHORT BY TANVIR 6X</h6>
                        <a class="collapse-item" target="_blank" href="api/linkshort/tinyurl?link=https://si.tanvir-6x-main-server.repl.co/&apikey=<%= apikey %>">6X TINY URL</a>
                        <a class="collapse-item" target="_blank" href="api/linkshort/tinyurlwithalias?link=https://si.tanvir-6x-main-server.repl.co/&alias=SiTanvir6XV3&apikey=<%= apikey %>">TINYURL WITH 6X</a>
                        <a class="collapse-item" target="_blank" href="api/linkshort/cuttly?link=https://si.tanvir-6x-main-server.repl.co&apikey=<%= apikey %>">6X CUTTLY URL</a>
                        <a class="collapse-item" target="_blank" href="api/linkshort/bitly?link=https://si.tanvir-6x-main-server.repl.co/&apikey=<%= apikey %>">6X BITLY URL</a>

                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePrimbon" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-solid fa-circle-info"></i>
                    <span>INFORMATION</span>
                </a>
                <div id="collapsePrimbon" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">INFORMATION ATTACH BY 6X</h6>
            <a class="collapse-item" target="_blank" href="api/info/githubstalk?user=ToxiCTanvir&apikey=<%= apikey %>">GITHUB STALK</a>
            <a class="collapse-item" target="_blank" href="api/info/waktuksolatmy?apikey=<%= apikey %>">MY PRAYER TIMES</a>
            <a class="collapse-item" target="_blank" href="api/info/translate?text=%E0%A6%86%E0%A6%B8%E0%A6%B8%E0%A6%BE%E0%A6%B2%E0%A6%BE%E0%A6%AE%E0%A7%81%20%E0%A6%86%E0%A6%B2%E0%A6%BE%E0%A6%87%E0%A6%95%E0%A7%81%E0%A6%AE%20%E0%A6%AD%E0%A6%BE%E0%A6%87%20%E0%A6%93%20%E0%A6%AC%E0%A7%8B%E0%A6%A8%E0%A7%87%E0%A6%B0%E0%A6%BE%20%E0%A6%86%E0%A6%AE%E0%A6%BF%20%E0%A6%A4%E0%A6%BE%E0%A6%A8%E0%A6%AD%E0%A7%80%E0%A6%B0%206X%20%E0%A6%B8%E0%A6%AC%E0%A6%BE%E0%A6%87%20%E0%A6%95%E0%A7%87%E0%A6%AE%E0%A6%A8%20%E0%A6%86%E0%A6%9B%E0%A7%87%E0%A6%A8&lang=en&apikey=<%= apikey %>">Translate</a>
            <a class="collapse-item" target="_blank" href="api/info/emoji?emoji=ðŸ’–&apikey=<%= apikey %>">EMOJI</a>


            </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTools" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    <span>BEST TOOLS</span>
                </a>
                <div id="collapseTools" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">TOOLS SERVICE BY 6X</h6>
            <a class="collapse-item" target="_blank" href="api/tools/ebase64?text=Rest%20Api%20By%20Tanvir&apikey=<%= apikey %>">6X E-BASE</a>
            <a class="collapse-item" target="_blank" href="api/tools/debase64?text=UmVzdCfaGkgQnkgQWxpcA==&apikey=<%= apikey %>"> 6X DE-BASE</a>
            <a class="collapse-item" target="_blank" href="api/tools/ebinary?text=RestApiByTanvir&apikey=<%= apikey %>">6X E-BINARY</a>
            <a class="collapse-item" target="_blank" href="api/tools/debinary?text=01010010%2001100101%2001110011%2001110100%2001000001%2001110000%2001101001%2001000010%2001111001%2001000001%2001101100%2001101001%2001110000&apikey=<%= apikey %>">6X DE-BINARY</a>
            <a class="collapse-item" target="_blank" href="api/tools/ssweb?link=https://si.tanvir-6x-main-server.repl.co/&apikey=<%= apikey %>">SS-WEBSITE</a>
            <a class="collapse-item" target="_blank" href="api/tools/styletext?text=Tanvir&apikey=<%= apikey %>">STYLE-TEXT 6X</a>


            </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIslamic" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-solid fa-mosque"></i>
                    <span>ISLAMIC SERVICE BY 6X</span>
                </a>
                <div id="collapseIslamic" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">MASHALLAH ISLAM</h6>
                        <a class="collapse-item" target="_blank" href="api/islamic/surah?no=1&apikey=<%= apikey %>">SEARCH SURAH</a>                  
                        <a class="collapse-item" target="_blank" href="api/islamic/tafsirsurah?text=adam&apikey=<%= apikey %>">TAFSIR SURAH</a>                  

                      </div>
                </div>

                <div class="sidebar-heading">
                    Contact Me
                </div>
                <br>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/Toxic-Tanvir">
                        <i class="fab fa-fw fa-github"></i>
                        <span>Github</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://instagram.com/t4nv1r.br4nd.y0ur.n3x7.d4d">
                        <i class="fab fa-fw fa-instagram"></i>
                        <span>Instagram</span>
                    </a>
                </li>

                </li>

 
        </ul>
 
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
              
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="/logout">
                                <i class="fa-solid fa-right-from-bracket" > </i> 
                                <span class="text-sm-left mb-0 font-weight-bold"> Log Out </span>
                                
                            </a>
                        </li>
                    </ul>
                </nav>

                <% if(!verified){ %>
                    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                      <strong>ATTENTION PLEASE!</strong> PLEASE VERIFY YOUR ACCOUNT TO CONTINUE USING OUR 6X WEBSITE.
                      <a href="/send-verification-email">AGAIN REQUEST VERIFICATION EMAIL</a>
                    </div>
                    <% } %>

                    <% if( error_messages !="" ){ %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong> ALERT</strong>
                            <%= error_messages %>.
                        </div>
                        <% } %>
              
                        <% if( success_messages !="" ){ %>
                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                              <strong>SUCCESSFUL </strong>
                              <%= success_messages %>.
                          </div>
                          <% } %>

                    <div class="container-fluid" id="container-wrapper">
                        <div class="card h-50 mb-4">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-md-left font-weight-bold mb-2 text-primary">SI TANVIR 6X</div>
                                        <div class="text-sm-left mb-0 font-weight-bold">HEY BBYðŸ˜˜ <%= username %>ðŸ˜˜ WELCOME TO SI TANVIR 6X BANGLADESH OFFICIAL WEBSITEðŸŽ€ </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-solid fa-face-smile fa-2x text-primary"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="row mb-3"> 

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">6x user</div>
                                        <div class="h5 mb-0 font-weight-bold" id="visitor">0</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-eye fa-2xl"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Request to 6x</div>
                                        <div class="h5 mb-0 font-weight-bold" ><%= RequestToday %></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-handshake fa-2xl" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Your limit</div>
                                        <div class="h5 mb-0 font-weight-bold" ><%= limit %></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-shop fa-2xl" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Your 6x Apikey</div>
                                        <div class="h5 mb-0 font-weight-bold" ><%= apikey %></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-key fa-2xl" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Your Battery Health</div>
                                        <span id="battery_level" class="h5 mb-0 font-weight-bold">Access Fail</span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-battery-full fa-2xl" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Now Time</div>
                                        <div class="h5 mb-0 font-weight-bold" id="row-no-guttersalign-items-center">00:00:00</div>

                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-calendar fa-2xl"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="findipurl"> <a href="find-ip.net" ></a></div>

            <script defer src="https://api.find-ip.net/widget.js?width=220&bg=%23181818&border=%23181818&textcol=%23d3d5f3&language=0&system=0&"></script>


                <div class="Box mt-4">
                    <div class="Box-body p-4">
                      <div class="d-flex flex-justify-between">
                        <div class="text-mono text-small mb-3">
                        </div>
                      </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            Contact Me
                            <p>
                                <a href="https://github.com/Toxic-Tanvir" class="btn btn-primary btn-sm mr-2" target="_blank"><i class="fab fa-fw fa-github"></i>&nbsp;Github</a>
                                <a href="https://instagram.com/t4nv1r.br4nd.y0ur.n3x7.d4d" class="btn btn-primary btn-sm ml-2" target="_blank"><i class="fab fa-fw fa-instagram"></i>&nbsp;Instagram</a>                         
			        <a href="https://api.whatsapp.com/send/?phone=%2B8801760226034&text&type=phone_number&app_absent=0" class="btn btn-primary btn-sm mr-2" target="_blank"><i class="fab fa-fw fa-whatsapp"></i>&nbsp;WhatsApp</a>
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
             
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        Made with <i class="fa fa-heart"></i> By
                        <a href="https://website-1.tanvir-ahmed.repl.co/" target="_blank" style="color: rgb(255, 234, 0);">SI TANVIR 6X ðŸ‡§ðŸ‡©</a>
                        </span>
                    </div>
                </div>
            </footer>
       
        </div>
    </div>

    
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-turn-up"></i>
    </a>

          
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/ruang-admin.min.js"></script>
    <script src="js/menu.js"></script>
    

</body>
</html>
